<%= form_with(model: book, class: "space-y-6") do |form| %>
  <% if book.errors.any? %>
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">
            <%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:
          </h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <% book.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="w-full">
    <div class="space-y-6">
        <div>
          <%= form.label :title, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 #{'ring-red-300 focus:ring-red-600' if book.errors[:title].any?}" %>
          </div>
          <% if book.errors[:title].any? %>
            <p class="mt-2 text-sm text-red-600"><%= book.errors[:title].first %></p>
          <% end %>
        </div>

        <div>
          <%= form.label :abstract, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.textarea :abstract, rows: 4, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 #{'ring-red-300 focus:ring-red-600' if book.errors[:abstract].any?}" %>
          </div>
          <% if book.errors[:abstract].any? %>
            <p class="mt-2 text-sm text-red-600"><%= book.errors[:abstract].first %></p>
          <% end %>
        </div>
      </div>
  </div>

  <div class="flex justify-end">
    <%= form.submit class: ButtonComponent::VARIANTS[:primary] %>
  </div>
<% end %>
